[Desktop Entry]
Version=1.0
Type=Application
Name=Twitch
Comment=Twitch PWA
Exec=brave --new-window --app=https://twitch.tv --user-data-dir=/home/qreenify/.config/brave-twitch
Icon=twitch
Terminal=false
Categories=Video;AudioVideo;
StartupWMClass=brave-twitch.tv__-Default
