[Desktop Entry]
Version=1.0
Type=Application
Name=YouTube
Comment=YouTube PWA
Exec=env PULSE_PROP_application.name="YouTube" brave --new-window --app=https://youtube.com --user-data-dir=/home/qreenify/.config/brave-youtube
Icon=youtube
Terminal=false
Categories=Video;AudioVideo;
StartupWMClass=brave-youtube.com__-Default
